.flat{
  display:block;
  width:202px;
  height:52px;
  line-height:52px;
  text-align:center;
  font-family:arial,verdana,monospace, '新宋体';
  font-weight:bold;
  font-size:22px;
  background:#428bca;
  color:#fff;
  text-decoration:none;
  border: 3px solid #357ebd;
  cursor:pointer
}
.flat:hover{
  background:#1165ae;
}
.flat:active{
  background:#0d79d5;
}
